.status-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    opacity: 0.7;
}

.status-bar i {
    font-size: 14px;
}

.status-bar .status-bar__battery-level {
    margin-left: 5px;
}

.header .header__header-column {
    display: flex;
    align-items: center;
}

.header .header__back-btn {
    font-size: 24px;
    margin-right: 20px;
}